<div style="margin-left:10%;padding:1px 16px;height:1000px;">
  <h2>Books</h2>
  
  <p>
    <figure>
      <img align="left" src="/Catcher.jpg" width="468" height="690" alt="test">
    
      <figcaption>
        <h3>
          <br><br><br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;the Catcher in the Rye
          
        </h3>
    
          </figcaption>
        </figure>
        &nbsp;&nbsp;&nbsp;&nbsp;     <b><u>Authour</u>:</b> J. D. Salinger<br>
        &nbsp;&nbsp;&nbsp;&nbsp;     <b><u>Publisher</u>:</b> Little, Brown and Company<br>
  </p>
  