
<div style="margin-left:10%;padding:1px 16px;height:1000px;">
  <h2>Chronos' Collection</h2>
  
  <p>Welcome to Chronos' Collection, the infinte library!<br> 
    To get started, please draw your attention to the navigation bar on the left.<br><br>
  
  
  <h3>Books</h3>

  This page will allow you to browse our infinte catalog of books!<br><br>

  <h3>Contact Us</h3>

    This page will allow you to get in contact with us so that we can
     aid with any inquiries.<br>  
     It also contains information regarding our locations.<br><br>

  <h3>Survey</h3>

  This page will allow you to leave feedback about your level of satsifaction with our service.
  </p><br>

</div>
