<div class="data-form" style="margin-left:10%;padding:1px 16px;height:1000px;">
    <form action="/addnewbook/save" method="POST">
        <h2>Add a new book</h2>
        <label >Book Name</label>
        <input type="text" name="Name" placeholder="" required>

        <label>Author</label>
        <input type="text" name="Author" placeholder="" required>
        
        <button type="submit">Add book</button>
    </form>
</div>